@model app.ems.ui.Models.AddEmployeeModel

@{
    ViewBag.Title = "Index";
}
<h3><b>Create new employee:</b></h3>

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Employee.Id)
    <table>

        <tr>
            <td>Enter Name: </td>
            <td>@Html.TextBoxFor(m => m.Employee.Name)</td>
        </tr>
        <tr>
            <td>Date of birth: </td>
            <td>
                @Html.TextBox("Employee.DateOfBirth", Model.Employee.DateOfBirth, "{0:yyyy-MM-dd}", new { @style = "width:100%", type = "date" })
            </td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>@Html.TextBoxFor(m => m.Employee.Email)</td>
        </tr>
        <tr>
            <td>Project: </td>
            <td>
                @Html.DropDownListFor(m => m.Employee.ProjectId,
                    Model.Projects,
                    "Select Project")
            </td>
        </tr>
        <tr>
            <td>Designation: </td>
            <td>
                @Html.DropDownListFor(m => m.Employee.DesignationId,
                    Model.Designations,
                    "Select Designation")
            </td>
        </tr>
        <tr>
            <td>Phone number: </td>
            <td>@Html.TextBoxFor(m => m.Employee.PhoneNumber)</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit Form" /></td>
        </tr>
    </table>
}

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            dateFormat: "dd-mm-yy",
            changemonth: true,
            changeyear: true
        });
    });
</script>