@model IEnumerable<app.ems.ui.Models.EmployeeModel>

@{
    ViewBag.Title = "Employee List";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesignationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DesignationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a onclick="deleteEmployee('@item.Id')">Delete</a>
            </td>
        </tr>
    }

</table>

<div id="success_message" style="color: green;"></div>
<div id="error_message" style="color: red;"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">

    function deleteEmployee(employeeId) {
        if (confirm("Are you sure to delete this user? ")) {
            $.ajax({
                type: "POST",
                url: "/Employee/Delete",
                data: JSON.stringify({ id: employeeId, collection: null }),
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    console.log("Successfully deleted.");

                    $('tr#' + employeeId).css("background-color", "red");
                    $('#success_message').html("Successfully deleted!").fadeIn("slow").focus();
                    setTimeout(function () {
                        $('#success_message').fadeOut("slow");
                    }, 2000);

                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                },
                error: function (result) {
                    console.log(result.responseText);

                    $('#error_message').html("Eror occured! Cannot delete.").fadeIn("slow").focus();
                    setTimeout(function () {
                        $('#error_message').fadeOut("slow");
                    }, 5000);
                }
            });
        }
    }
</script>


<style type="text/css">
    a:hover {
        cursor: pointer;
    }
</style>
